# Ambientes Virtuais e dependencias
venv/
.venv/
env/
ENV/
node_modules/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos temporarios e gerados
/output*.pdf
/output_*.pdf
/output.pdf
/spool_mock.ps
/imposicao/*_imposed.pdf

# IDEs
.vscode/
.idea/

